.errore { -fx-background-color: #ffcccc }
.buono { -fx-background-color: #9cffa4 }

.box { -fx-padding : 1em ; -fx-hgap : 1em }
.box-plain { -fx-background-color: #feffd1 }
.box-edit { -fx-background-color: #ffe433 }
.ordine { -fx-font-size : 200% ; }
.origine { -fx-font-size : 85% }

.box > .toggle-button { 
	-fx-font-size : 150% ; -fx-min-width : 4em ;
	-fx-border-radius: 0.75em ; -fx-border-width: 0.2em; -fx-border-color: gray;  
	-fx-background-radius: 0.75em; -fx-background-color: #eeeeee ; 
	-fx-font-weight: bold 
}

.box > .toggle-button:selected { -fx-border-color : red}

.box > .sbagliata { -fx-background-color: red }
.box > .giusta { -fx-background-color: green }
.box > .sarebbeStataGiusta { -fx-background-color: #c2ffc4 }

#input {
	-fx-padding: 0.5em;	
	-fx-hgap: 0.25em;
	-fx-vgap: 0.25em;
	-fx-background-color: #bdcede;
}

.label {
/* sopra, destra, sotto, sinistra */
-fx-padding: 0em 0.5em 0em 0em;
-fx-text-alignment: right;
-fx-alignment: center-right;
} 

.principale {
	-fx-padding: 1em;
	-fx-hgap: 0.5em;
	-fx-vgap: 1em;
}

/* https://stackoverflow.com/questions/15219334/javafx-change-piechart-color */
/* https://docs.oracle.com/javafx/2/charts/css-styles.htm */
.default-color0.chart-pie { -fx-pie-color: green; }
.default-color1.chart-pie { -fx-pie-color: #ebcf44 }
.default-color2.chart-pie { -fx-pie-color: #f79e20 }
.default-color3.chart-pie { -fx-pie-color: #ff864a }

#pannelloGrafici > .label { -fx-padding: 1em 0em 0em 0em; -fx-font-size : 150% ;}