.button, .combo-box, .toggle-button {
 	-fx-margin:0.25em; -fx-border-radius:0.2em;
}

.box { -fx-padding : 1em ; -fx-hgap : 1em }
.ordine { -fx-font-size : 200% ; }
.origine { -fx-font-size : 85% }

.box > .toggle-button { 
	-fx-font-size : 150% ; -fx-min-width : 4em ;
	-fx-border-radius: 0.75em ; -fx-border-width: 0.2em;
	-fx-background-radius: 0.75em;
	-fx-font-weight: bold 
}

#pannelloInput {
	-fx-padding: 0.5em;	
	-fx-hgap: 0.25em;
	-fx-vgap: 0.25em;
}

.label {
	/* sopra, destra, sotto, sinistra */
	-fx-padding: 0em 0.5em 0em 0em;
	-fx-text-alignment: right;
	-fx-alignment: center-right;
} 
.info { -fx-alignment: center-left; }

.principale {
	-fx-padding: 1em;
	-fx-hgap: 0.5em;
	-fx-vgap: 1em;
}

#pannelloGrafici > .label { -fx-padding: 1em 0em 0em 0em; -fx-font-size : 150% ;}
.button, .toggle-button { -fx-min-width:8em; }

.text-area:focused { -fx-background-color: transparent }
.text-area:hover { -fx-background-color: transparent; }
.text-area:focused:hover {-fx-background-color: transparent; }

.tab {
  -fx-background-insets: 0 0.5em 0 0.5em;
  -fx-padding: 0 2em 0 2em;
}
.tab-label:hover {
	-fx-background-color: transparent ;
	-fx-border-width:2px;
}

.tab-content-area { -fx-padding: 1em }

.tab-content-area .button, .tab-content-area .toggle-button { 
	-fx-border-width: 1px; -fx-border-radius: 0.5em ; -fx-border-style: solid;
 	-fx-background-radius: 0.5em ; -fx-background-insets: 1px;
}

/** questa cosa non è documentata
https://stackoverflow.com/questions/35260168/how-to-remove-the-blue-color-in-selected-tab-pane */
.tab:selected .focus-indicator {
     -fx-border-width: 0;
}

.etichettaVoto {
	-fx-font-family: monospaced;
	-fx-font-weight: bold;
	-fx-padding: 0.25em;
	-fx-background-radius: 0.5em; 
}